.form{
    width: 1900px;
    height: 1800px;
     
}

.myLabel{
    margin: 50px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
}

.hasBack{
    background: url('../../assets/2.jfif')   ;
    
} 

.withoutBack{
    background-size:  transparent
} 