<ul style="padding-right: 7px;">
    <li [ngClass]="{'expanded': isOpenNode }" *ngFor="let commodityNode of collection"> 
        <div *ngIf="!hasChildren(commodityNode.id)" style="padding-right: 15px;">
            <input [checked]="commodityNode.isChecked"  type="checkbox"> {{commodityNode.name}} 
        </div>
        
        
    
        <div class="arrow" *ngIf="hasChildren(commodityNode.id)">
            <img id="plus{{commodityNode.id}}"   (click)="toggleMe(commodityNode)" *ngIf="!isOpenNode && selectedCommodityNode.id==commodityNode.id || !isCleckied " src="../../assets/plus.png"> 
            <img id="plus{{commodityNode.id}}"  (click)="toggleMe(commodityNode)" *ngIf="selectedCommodityNode.id!==commodityNode.id && isCleckied  " src="../../assets/plus.png"> 
            <img id="minus{{commodityNode.id}}"  (click)="toggleMe(commodityNode)" *ngIf="isOpenNode  && selectedCommodityNode.id==commodityNode.id  " src="../../assets/minus.png"> 
            {{commodityNode.name}} 

        </div>

        <app-commodity-node-item   *ngIf="isOpenNode && hasChildren(commodityNode.id) && selectedCommodityNode.id==commodityNode.id" [commoditiesCollection]="commoditiesCollection" [collection]="helperCollection" ></app-commodity-node-item>

        <!-- <div class="arrow">
            <img id="plus{{commodityNode.id}}"  (click)="toggleMe(commodityNode)" *ngIf="!isOpenNode && selectedCommodityNode.id==commodityNode.id || !isCleckied " src="../../assets/plus.png"> 
            <img id="plus{{commodityNode.id}}"  (click)="toggleMe(commodityNode)" *ngIf="selectedCommodityNode.id!==commodityNode.id && isCleckied  " src="../../assets/plus.png"> 
            <img id="minus{{commodityNode.id}}" (click)="toggleMe(commodityNode)" *ngIf="isOpenNode  && selectedCommodityNode.id==commodityNode.id  " src="../../assets/minus.png"> 
        </div> -->
    </li>

 
</ul>