




<div style="background: lightgoldenrodyellow;width: 70%; display: table; height: 600px; margin: 40px auto; border: 2px solid black" >


    <div    > 
           <form class="form"       >
               <label  >Choose a float Mode for menu:</label>
               <select   (change)="onChange($event.target.value)">
                 <option value="left">left</option>
                 <option selected value="right">right</option>
                 <option  value="none">none</option>

               </select>
               <br>
   
               <a class="highlight" href="#">it has hover that use class</a>

               <br>
               <a class="" href="#">it doesn't use class</a>
               
               
           


              <h3 class="showImage"> show image hover (Image should be inside of h3)
                <img class="myImage" src="../../assets/1.jfif">
              </h3>
    
            </form>
   
 
   </div>

   </div>   
   

