<ul>
    <li [ngStyle]="{'float': customFloat}"><a href="#home" class="active">Home</a></li>
    <li [ngStyle]="{'float': customFloat}"><a href="#news">News</a></li>
    <li [ngStyle]="{'float': customFloat}"><a href="#contact">Contact</a></li>
    <li [ngStyle]="{'float': customFloat}"><a href="#about">About</a></li>
  </ul>

<div style="background: lightgoldenrodyellow;width: 70%; display: table; height: 600px; margin: 40px auto; border: 2px solid black" >


    <div    > 
           <form class="form"       >
               <label  >Choose a float Mode for menu:</label>
               <select   (change)="onChange($event.target.value)">
                 <option value="left">left</option>
                 <option selected value="right">right</option>
                 <option  value="none">none</option>

               </select>
   
   <div class="content">
       <p class="myText">
           
        reddit
        messenger-dsk
        linkedin
        vk
    
    Text size Aa Aa
    
    Aged 18, Indian celebrity Priyanka Chopra was crowned Miss World in the 2000 pageant. It was to mark the start of a glittering career which has since seen her act, sing, write and mentor young performers.
    
    In recent years, Time magazine named her one of the100 Most Influential People in the World, whilst Forbes listed her amongst the World’s 100 Most Powerful Women.
    
    With tens of movie credits to her name, she’s become one of the Hindi film industry’s most popular on-screen stars.
    
    However, she modestly describes herself as, “an artist and dreamer”, with a couple of Hollywood flicks under her belt.
    
    <img class="myImg" [ngStyle]="{'float': customFloat}" src="../../assets/index.jfif">

 
    When asked about the comparisons between the US and Hindi film industries, Chopra made a timely observation.
    
    “The machinery is the same, you’ve got to be on set,” she told Inspire Middle East’s Rebecca McLaughlin-Eastham. “The big difference, the glaring difference for me, was how much on time people are in Hollywood. It’s a little bit different than us back in India. It’s called ‘Indian Standard Time’ for a reason.”
    
    The actress admits to loving aspects of both Bollywood and Hollywood, even though she feels like something of a newcomer in Los Angeles, compared to her home market.
    
    “I’m just starting out my journey in Hollywood, I’m just a couple of years old, just a few movies old,” she says. “Whereas I’ve had almost 20 years in Bollywood and have worked in almost sixty movies there. So, it’s an unfair comparison a little bit.”
    Arabia awaits
    
    Chopra’s bread-and-butter roles have so far come from India’s prolific film industry, but acting in Middle Eastern movie productions, even in Arabic, isn’t something she’s ruling out.
    
    “I would love to, but I don’t speak the language. Damn!” she jokingly remarked. “But no, I think that I would love to be a part of the film industry anywhere. I love my job and I would learn a new language if I had to.”
    
    Social media is an important communication channel for Chopra, who has more than 54 million followers on Instagram.
    “The machinery is the same, you’ve got to be on set,” she told Inspire Middle East’s Rebecca McLaughlin-Eastham. “The big difference, the glaring difference for me, was how much on time people are in Hollywood. It’s a little bit different than us back in India. It’s called ‘Indian Standard Time’ for a reason.”
    
    The actress admits to loving aspects of both Bollywood and Hollywood, even though she feels like something of a newcomer in Los Angeles, compared to her home market.
    
    “I’m just starting out my journey in Hollywood, I’m just a couple of years old, just a few movies old,” she says. “Whereas I’ve had almost 20 years in Bollywood and have worked in almost sixty movies there. So, it’s an unfair comparison a little bit.”
    Arabia awaits
    
    Chopra’s bread-and-butter roles have so far come from India’s prolific film industry, but acting in Middle Eastern movie productions, even in Arabic, isn’t something she’s ruling out.
    
    “I would love to, but I don’t speak the language. Damn!” she jokingly remarked. “But no, I think that I would love to be a part of the film industry anywhere. I love my job and I would learn a new language if I had to.”
    
    Social media is an important communication channel for Chopra, who has more than 54 million followers on Instagram.
</p>
   </div>

   </form>
   </div>   
   
   </div>