 
<label style="color:red">Selection Text Please--> :: selection</label>

<div style="background:transparent;width: 70%;  height: 600px; margin: 40px auto; border: 2px solid black" >

        <p class="firstLineSample firstLineLetter">lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Culpa necessitatibus autem laudantium ipsum ex pariatur ipsa voluptatem facere exercitationem distinctio minima, 
             odio libero consectetur aliquam iste corrupti nostrum quibusdam nesciunt.Laborum vel asperiores repellat architecto,
              temporibus sint, quam aperiam accusamus reiciendis consequuntur, at autem cupiditate velit animi? Aliquam nisi nobis 
              deleniti modi facilis, architecto, quia harum excepturi ea ipsam labore!

        </p>

        <p class="secondLineSample">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Voluptates voluptatibus laudantium id cumque, architecto a asperiores tenetur. Quo numquam natus molestiae libero, 
             laboriosam eum ea soluta? Molestias error tempore ratione?

        </p>
       
     
 </div>


 


