<main class="page-content">
    <div class="card" style="background: url('../assets/1.jfif');" >
      <div class="content">
        <h2 class="title">backGround</h2>
        <p class="copy">
          background-color
          background-image
          background-repeat
          background-attachment
          background-position
        </p>
   
        <button class="btn"  (click)="navigateToPage('BG')" >View Details</button>
      </div>
    </div>

    <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title">Text</h2>
          <p class="copy">
            text decoration
            text-transform
            text-decoration-style
            text-align
            text-indent
            text-Shadow
            letter-space
            word-spae
          </p>
         
          <button class="btn"  (click)="navigateToPage('txtDecoration')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/3.jfif');" >
        <div class="content">
          <h2 class="title">Font</h2>
          <p class="copy">
                font-variant
          </p>
         
          <button class="btn"  (click)="navigateToPage('font')" >View Details</button>
        </div>
      </div>
   

      <div class="card" style="background: url('../assets/4.jfif');" >
        <div class="content">
          <h2 class="title">Hover</h2>
          <p class="copy">
                Hover
          </p>
         
          <button class="btn"  (click)="navigateToPage('Hover')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title">List-style-type</h2>
          <p class="copy">
                List-style-type
          </p>
         
          <button class="btn"  (click)="navigateToPage('liType')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/3.jfif');" >
        <div class="content">
          <h2 class="title">Margin&Pading</h2>
          <p class="copy">
                Margin&Pading
          </p>
         
          <button class="btn"  (click)="navigateToPage('mapaStyle')" >View Details</button>
        </div>
      </div>
      
  
  </main> 