


<main class="page-content">
    <div class="card" style="background: url('../assets/1.jfif');" >
      <div class="content">
        <h2 class="title">backGround</h2>
        <p class="copy">
          background-color
          background-image
          background-repeat
          background-attachment
          background-position
        </p>
   
        <button class="btn"  (click)="navigateToPage('BG')" >View Details</button>
      </div>
    </div>

    <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title">Text</h2>
          <p class="copy">
            text decoration
            text-transform
            text-decoration-style
            text-align
            text-indent
            text-Shadow
            letter-space
            word-spae
          </p>
         
          <button class="btn"  (click)="navigateToPage('txtDecoration')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/3.jfif');" >
        <div class="content">
          <h2 class="title">Font</h2>
          <p class="copy">
                font-variant
          </p>
         
          <button class="btn"  (click)="navigateToPage('font')" >View Details</button>
        </div>
      </div>
   

      <div class="card" style="background: url('../assets/4.jfif');" >
        <div class="content">
          <h2 class="title">Hover</h2>
          <p class="copy">
                Hover
          </p>
         
          <button class="btn"  (click)="navigateToPage('Hover')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title">List-style-type</h2>
          <p class="copy">
                List-style-type
          </p>
         
          <button class="btn"  (click)="navigateToPage('liType')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/3.jfif');" >
        <div class="content">
          <h2 class="title">Margin&Pading</h2>
          <p class="copy">
                Margin&Pading
          </p>
         
          <button class="btn"  (click)="navigateToPage('mapaStyle')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/1.jfif');" >
        <div class="content">
          <h2 class="title">Border</h2>
          <p class="copy">
                Border
          </p>
         
          <button class="btn"  (click)="navigateToPage('border')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title">Wrapper</h2>
          <p class="copy">
                use percent in width
          </p>
         
          <button class="btn"  (click)="navigateToPage('minAndMaxWidthHeight')" >View Details</button>
        </div>
      </div>
      
      <div class="card" style="background: url('../assets/4.jfif');" >
        <div class="content">
          <h2 class="title">Display</h2>
          <p class="copy">
                Display
          </p>
         
          <button class="btn"  (click)="navigateToPage('display')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/3.jfif');" >
        <div class="content">
          <h2 class="title">    Position</h2>
          <p class="copy">
              Position
          </p>
         
          <button class="btn"  (click)="navigateToPage('fix')" >View Details</button>
        </div>
      </div>


      <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title"> Float</h2>
          <p class="copy">
              Float
          </p>
         
          <button class="btn"  (click)="navigateToPage('float')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/1.jfif');" >
        <div class="content">
          <h2 class="title"> MouseEvent</h2>
          <p class="copy">
            Pseudo-classes

            Style an element when a user mouses over it
            Style visited and unvisited links differently
            Style an element when it gets focus
        

          </p>
         
          <button class="btn"  (click)="navigateToPage('mouseEvent')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/1.jfif');" >
        <div class="content">
          <h2 class="title"> Pseudo-element</h2>
          <p class="copy">
            Pseudo-element


            Style the first letter, or line, of an element
            Insert content before, or after, the content of an element
        
        

          </p>
         
          <button class="btn"  (click)="navigateToPage('PseudoElement')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/2.jfif');" >
        <div class="content">
          <h2 class="title"> cssSelectore</h2>
          <p class="copy">

          </p>
         
          <button class="btn"  (click)="navigateToPage('cssSelectore')" >View Details</button>
        </div>
      </div>
      
      <div class="card" style="background: url('../assets/4.jfif');" >
        <div class="content">
          <h2 class="title"> CommodityTree</h2>
          <p class="copy">

          </p>
         
          <button class="btn"  (click)="navigateToPage('commodityTree')" >View Details</button>
        </div>
      </div>

      <div class="card" style="background: url('../assets/1.jfif');" >
        <div class="content">
          <h2 class="title"> CommodityTree</h2>
          <p class="copy">

          </p>
         
          <button class="btn"  (click)="navigateToPage('commodityTreeNew')" >View Details</button>
        </div>
      </div>
      
  </main> 