<div style="background: lightgoldenrodyellow;width: 70%;  height: 600px; margin: 40px auto; border: 2px solid black" >


        <div    > 
               <form class="form"       >
                   <label  >Choose a Display Mode:</label>
                   <select   (change)="onChange($event.target.value)">
                     <option value="inline">inline</option>
                     <option value="block">block</option>
                     <option value="contents">contents</option>
                     <option value="flex">flex</option>
                     <option value="grid">grid</option>
                     <option selected  value="inline-block">inline-block</option>
                     <option value="inline-flex">inline-flex</option>
                     <option value="inline-grid">inline-grid</option>
                     <option value="inline-table">inline-table</option>
                     <option value="list-item">list-item</option>
                     <option value="run-in">run-in</option>
                     <option value="table">table</option>
                     <option value="table-caption">table-caption</option>
                     <option value="table-column-group">table-column-group</option>
                     <option value="table-header-group">table-header-group</option>
                     <option value="table-footer-group">table-footer-group</option>
                     <option value="table-row-group">table-row-group</option>
                     <option value="table-cell">table-cell</option>
                     <option value="table-column">table-column</option>
                     <option value="table-row">table-row</option>
                     <option  value="none">none</option>
                     <option value="initial">initial</option>
                     <option value="inherit">inherit</option>
                   </select>
       
       
 
       </form>
       </div>   
       <div >
            <div class="card1"  [ngStyle]="{'display': displayMode}" >
                </div>
     
                <div class="card2" [ngStyle]="{'display': displayMode}" >
                 </div>
    </div>       

       
       </div>